<a href="https://colab.research.google.com/github/Prang-nin/dataAnalysis/blob/main/Notebook_Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Pandas library 
# **Data indexing and Selection**
- `pd.Series`
✅ Mapping collection of index to the collection of values
Similarly to dictionary 
- `data.keys()` 
✅ Get all keys list (object type)
- `data.items()` 
✅ Get tuple of all pairs value and its key 
- `data['key']` = value  ✅ similar to dictionary syntax
- `data['start_key':'end_key'] `
✅ Get all values in the range of those key or using index also works aswell.
- `data[key1, key2]` ✅Get all values that are mapped from key1 and key2
- `data[(condition1)&(condition2)]` ✅ Get all values that satisfied both condition 1& 2
# The different between loc and iloc
- `data.loc[index]`   ✅indexing use loc will start index from 1,2,3 ,...
- `data.iloc[index] `  ✅ indexing use iloc will start index from 0,1,2,3 ,...

In [ ]:
import pandas as pd
data = pd.Series([0.25, 0.5, 0.75, 1.0], index=['a', 'b', 'c', 'd'])
print('the pandas series data 1')
print(data)
#Get a'l index list 
print('List of key in the series :',data.keys())
#Get list of pairs (key, value)
print('List of all items in the series :', list(data.items()))
# select value that has key ='a'
print('value of key "a" is :', data['a'])
# Select values that has key start from 'a' to 'c' order is matter 
print('items that has key "a" to "c" are :')
print(data['a':'c'])
# Select values from index 0 to index 1 (not include 2)
print("The first two items of the series are:")
print(data[0:2])
# Select values that > 0.3 but <0.8
print("items that has value between 0.3 and 0.8 are :")
print(data[(data>0.3)&(data<0.8)])

data2 = pd.Series(['a', 'b', 'c'], index=[1, 3, 5])
print('the pandas series data 2')
print(data2)
# loc : starting index = 1
# iloc : starting index = 0
print('The value of first item')
print(data2.loc[1])
print('The value of second item')
print(data2.iloc[1])

#DataFrame
DataFrame is two-dimensional array that behave like the dictionary of Series 
  
✅ Select a specific column by specified attribute_name
- `data.attribute_name `   

✅ For add a new attribute that can be calculated from specified attributes
- *data[new_attribute]* = *data['att1']* operation with *data['att2']*
 
✅ To get all values from dataframe
- `data.values` 

✅ To get all the values in that particular row
- `data.values[index]`  

✅ To get all the values in that particular column
- `data.values['attr_name'] `

✅ To select table using index
- `data.iloc[start_row:end_row , start_col:end_col] `

✅ To select table using attribute name
- `data.loc['start_row_name':'end_row_name', 'start_col_name':'end_col_name']  `

✅ Transpose the table
- `data.T`

**Remark** that if the index is not specified, it means select from beginning/ till the end

In [ ]:
area = pd.Series({'California': 423967, 'Texas': 695662,
                  'New York': 141297, 'Florida': 170312,
                  'Illinois': 149995})
pop = pd.Series({'California': 38332521, 'Texas': 26448193,
                 'New York': 19651127, 'Florida': 19552860,
                 'Illinois': 12882135})
data = pd.DataFrame({'area':area, 'pop':pop})
print('Data table')
print(data)
# Select only attribute 'area'
print('Area')
print(data.area)

# Add density as new attribute
data['density'] = data['area']/data['pop']
print('Updated table with new attribute')
print(data)

# Slice only first 3 row and first 2 column 
print('Sliced table for area and population of first 3 rows')
print(data.iloc[:3,:2])

# slice from first row until illinois and first column until population
print('Sliced row from first row to "illinois" and Sliced column from first attribute to "pop" :')
print(data.loc[:'Illinois', :'pop'])

#select all instance that has density more than 100 and sliced only "pop" and "density" columns
print('Select all instance that has density more than 100 and sliced only "pop" and "density" columns')
print(data.loc[data.density > 100, ['pop', 'density']])
#Change value of row '0' and column '2' to 90
data.iloc[0, 2] = 90
#Transpose of table
data.T

# **Operation in Pandas**
**Index alignment in Series**
- For operation between instance from a different `pd.Series`, the matched index is used for referencing. 
- If the matched index **does not** exist, it will give **'Nan'**
- the **'Nan'** can be replaced using` A.add(B, fill_value=0)`, this will fill the value for any elements that missing with **'0'**
- the **'Nan'** can be replaced using` A.add(B, fill_value=mean)`, this will fill the value for any elements that missing with **'mean'**
where mean can be caluculated using mean = `data.stack().mean()` where data is a DataFrame

**Index alignment in DataFrame**

✅ Generate consistent random integer within specific range and size
- `np.random.RandomState(42).randint(lowest_value, highest_value, size)`

✅ Create DataFrame using the generated array and column list
- `pd.DataFrame( numpy array , columns=list('AB'))`

**Operation between DataFrame and Series**
- In Pandas, the operation is row-wise by default but can change to column by defind *axis=0*

✅ Subtract each **column** with the value of column 'R' 
- `df.subtract(df['R'], axis=0) `

✅ Subtract each **row** with the value of first row
- `df.subtract(df[0]) `

In [ ]:
import pandas as pd
import numpy as np
#index alignment with series
A = pd.Series([2, 4, 6], index=[0, 1, 2])
B = pd.Series([1, 3, 5], index=[1, 2, 3])
print("Sum of 2 Series :")
print(A + B)
# Replacing Nan with filling the missing value with 0
print("Fix Nan")
print(A.add(B, fill_value =0))

#index alignment with DataFrame
# a random number generator that will pull random number from distribution with consistent pseudonumber
A = pd.DataFrame(np.random.RandomState(42).randint(0, 20, (2, 2)), columns=list('AB'))
print("DataFrame of random interger within [0,20] , size 2x2")
print(A)
B = pd.DataFrame(np.random.RandomState(42).randint(0, 10, (3, 3)), columns=list('BAC'))
print("DataFrame of random interger within [0,10] , size 3x3")
print(B)
# row subtract
print("subtract DataFrame with first row")
print(B.subtract(B.iloc[0]))
# column subtract
print("subtract DataFrame with column 'A'")
print(B.subtract(B['A'], axis =0) )

# Handling Missing Data
**Operating on Null Value**

▶ Detecting Null value

: Generate a boolean mask indicating missing value and return **Boolean** as an output
- `data.isnull()`
- `data.notnull()`

▶ Droping Null value
- `data.dropna()`

Alternatively, dropna() function can specific dropping condition
- `df.dropna(axis='columns', how='all')` 
: Drop columns that have 'Nan' for all instances
-  `df.dropna(axis='columns', how='any')` 
: Drop columns that have at least one 'Nan' 

▶ Filling Null value

- `data.fillna(0)`: Replace 'Nan' with 0
- `data.fillna(method='ffill')` : Replace 'Nan' with the value of previous instance
- `data.fillna(method='bfill')` : Replace 'Nan' with the value of next instance

Similarly with row-wise, axis = 1 can be used to switch in to column-wise
- `data.fillna(method='ffill', axis = 1)` : use previous column
- `data.fillna(method='bfill', axis = 1)` : use next column

# Hierarcal-Indexing

**MultiIndex creation** (multiple methods)
1. Define a list of index array 
- `pd.DataFrame(array, index=[first_index_list, second_index_list], columns=['col_name1', 'col_name2'])`
2. Using MultiIndex method
- `pd.MultiIndex.from_arrays([['a', 'a', 'b', 'b'], [1, 2, 1, 2]])`
- `pd.MultiIndex.from_tuples([('a', 1), ('a', 2), ('b', 1), ('b', 2)])`
- `pd.MultiIndex.from_product([['a', 'b'], [1, 2]])`

**MultiIndex slicing**
- DataFrame can be sliced by using multiple index 

**Stacking and Unstacking**
- `data.unstack()` : obtionally the level of unstack can be identified
- `data.stack()`   : re-unstack()

**Index setting and reset**

✅ reset the index by using specified column (like a primary key)
- `updated_data = data.reset_index(name='col_name')`

✅ Set an multiIndex  (combination of index as a primary key)
- `updated_data.set_index(['col_name1', 'col_name2'])`

**Data aggregation on Multi-index**

⭐ built-in aggregation method like mean(), sum(), max(), min() can be used to aggregated subset of data by specified the *level* parameter
- `data_mean = data.mean(level='index_level')` (will be removed soon)
- `data_mean = data.groupby(level ='index_level).mean()`

and also the method above can be operated as column-wise by specified axis = 1

In [ ]:
#method 1 using list of array
df = pd.DataFrame(np.random.rand(4, 2), index=[['a', 'a', 'b', 'b'], [1, 2, 1, 2]], columns=['data1', 'data2'])
print(df)
      
#method 2 using multiIndex
A = pd.MultiIndex.from_arrays([['a', 'a', 'b', 'b'], [1, 2, 1, 2]])
df2 = pd.DataFrame(np.random.rand(4, 2), index= A , columns=['data1', 'data2'])
print(df2)

#method 2 Using multiIndex for columns
index = pd.MultiIndex.from_product([[2013, 2014], [1, 2]], names=['year', 'visit'])
columns = pd.MultiIndex.from_product([['Bob', 'Guido', 'Sue'], ['HR', 'Temp']],  names=['subject', 'type'])
df3 = pd.DataFrame(np.random.rand(4,6), index = index, columns = columns)
print(df3)

# Slice subject Guido and type HR
print("Sliced data table only subject 'Guido' and type 'HR' :")
print(df3['Guido','HR'])
# slice using iloc
print("Slice first two columns and first two instance")
print(df3.iloc[:2, :2])
print("Slice every instance with the subject 'Bob' with type 'HR'")
print(df3.loc[:, ('Bob', 'HR')])
# find mean of each instance group by year
print(" Find the mean of each instance groupby 'year' ")
print(df3.groupby(level ='year').mean())
print(" Find the mean of each instance groupby 'year' ")

# Combining Datasets

**simple concatenate**
- `pd.concat([data1, data2])`: can be applied for `Series` or `DataFrame`

▶ For joining tables, Natural join is applied by default
- `pd.concat([data1, data2], axis =1 )` : join the column
- `pd.concat([data1, data2], join ='inner' )`: specify the join-type
- `pd.concat([data1, data2], join_axes=[df.columns] )` : specify joined column

**Append method**
- `new_dataFrame = df1.append(df2)`
same result as `pd.concat([df1,df2])`

Remark that : append() in Pandas will create a new object unlike append() in Python List that will modify the original data

**Using Merge**
- `pd.merge(df1, df2)`
- `pd.merge(df1, df2, on='key_column')` ▶ join using key column
- `pd.merge(df1, df2, left_on="key_column", right_on="key_column"))` ▶ join using key columns by specified joining side
- `pd.merge(df1, df2).drop('drop_colum', axis=1)`
▶ Drop a specific column

- `pd.merge(df1,df2, how='inner') ` ▶  Specified join-type

In [ ]:
import pandas as pd
# simple concantenate series
ser1 = pd.Series(['A', 'B', 'C'], index=[1, 2, 3])
ser2 = pd.Series(['D', 'E', 'F'], index=[4, 5, 6])
print(pd.concat([ser1, ser2]))

def make_df(cols, ind):
    """Quickly make a DataFrame"""
    data = {c: [str(c) + str(i) for i in ind]
            for c in cols}
    return pd.DataFrame(data, ind)
# Simple join row-wise
df1 = make_df('AB', [1, 2])
df2 = make_df('AB', [3, 4])
print(pd.concat([df1, df2]))

# Simple join column-wise 
df3 = make_df('AB', [0, 1])
df4 = make_df('CD', [0, 1])
print(pd.concat([df3,df4], axis =1))

#with join (Natural join)
df5 = make_df('ABC', [1, 2])
df6 = make_df('BCD', [3, 4])
print(pd.concat([df5,df6]))

# Aggregation and Grouping

✅ Compute common aggregated 
- `data.dropna().describe()` 

✅ Some built-in aggregation method
- `count()` : total number of items
- `first() `, `last()` : first and last item
- `mean()` , `median()` : mean and median
- `min() `, `max()` : minimum and maximum
- `std()`, `var() `: std and variance
- `mad()` : mean absolute deviation
- `prod()` : product of all items
- `sum()` : sum of all items

✅ Using groupby with aggregation
- `df.groupby('key').sum()` : For example, sum of all items group by 'key'
- `df.groupby('key')['val_col'].mean()` : Find mean of 'val_col' groupby 'key'
- `df.groupby('key').aggregate({'data1': 'min','data2': 'max'})`

✅ Using filtering
- `df['data1'].std() > 4` 

▶ Select the table which has std of 'data1' column greater than 4, and drop all the instance that has std less than 4

✅ Using transformation
- `df.groupby('key').transform(lambda x: x - x.mean())`

▶ Transform data into an output that has the same shape as input (in this example is to centralized data by subtracting with mean)

✅ Apply function that not a built-in using `.apply()`
- `df.groupby('key').apply(created_function)`

# Pivot table

**Pivot table**

- `DataFrame.pivot_table(data, values=None, index=None, columns=None,aggfunc='mean', fill_value=None, margins=False, dropna=True, margins_name='All')`

**Multi-level pivot table**

- `pd.cut()`
Using to reduce some dimension
```
# This is formatted as code
age = pd.cut(titanic['age'], [0, 18, 80])
titanic.pivot_table('survived', ['sex', age], 'class')
```

- `pd.qcut()`
Using to reduce some dimension and automatically compute quatile
```
# This is formatted as code
fare = pd.qcut(titanic['fare'], 2)
titanic.pivot_table('survived', ['sex', age], [fare, 'class'])
```

# Vectorized string operation
- `str` method using `.str.method()`
 which have various return values

**List of Pandas str method()**
```
# This is formatted as code
len()	lower()	translate()	islower()
ljust()	upper()	startswith()	isupper()
rjust()	find()	endswith()	isnumeric()
center()	rfind()	isalnum()	isdecimal()
zfill()	index()	isalpha()	split()
strip()	rindex()	isdigit()	rsplit()
rstrip()	capitalize()	isspace()	partition()
lstrip()	swapcase()	istitle()	rpartition()
```
example:
- `data.str.lower()`  : change all string into lowercase

**Additional `str` method**

```
# This is formatted as code
match()	 #Call re.match() on each element, returning a boolean.
extract()	#Call re.match() on each element, returning matched groups as strings.
findall()	#Call re.findall() on each element
replace()	#Replace occurrences of pattern with some other string
contains()	#Call re.search() on each element, returning a boolean
count()	#Count occurrences of pattern
split()	#Equivalent to str.split(), but accepts regexps
rsplit()	#Equivalent to str.rsplit(), but accepts regexps
```
 **Miscellaneous `str `method**

```
# This is formatted as code
get()	#Index each element
slice()	#Slice each element
slice_replace()	#Replace slice in each element with passed value
cat()	#Concatenate strings
repeat()	#Repeat values
normalize()	#Return Unicode form of string
pad()	#Add whitespace to left, right, or both sides of strings
wrap()	#Split long strings into lines with length less than a given width
join()	#Join strings in each element of the Series with passed separator
get_dummies()	#extract dummy variables as a dataframe

```

**Slicing with `str` method**
- Slice the character 

Example : Slice first 3 character 
`df.str.slice(0, 3)` is equivalent to `df.str[0:3]` 

- Get the position i

Example : Get the position i

 `df.str.get(i)` is equivalent to  `df.str[i]`

Example : Split str using `split()`

`df.str.split() `
 : if not indicate any delimiter, it will use space by default

Example : Get the first entry

`df.str.split().str.get(0)`

Example : Get the last entry

`df.str.split().str.get(-1)`

# Time series

**Native python dates and times**

✅ Get the datetime object
- Using `datetime`
```
# This is formatted as code
from datetime import datetime
datetime(year=2015, month=7, day=4)
```
- Using `dateutil`
```
# This is formatted as code
from dateutil import parser
date = parser.parse("4th of July, 2015")
```
✅ Print it out in string format
- `date.strftime('%d')`
- %d for day, %m for month , %y year with last 2 digit, %Y year for 4 digits
- https://docs.python.org/3/library/datetime.html#strftime-and-strptime-behavior

# Datetime in Numpy

- Get the output in `datetime64` type using time series in Numpy
```
# This is formatted as code
import numpy as np
date = np.array('2015-07-04', dtype=np.datetime64)
```

# Pandas Time Series : Indexing by time

Incase that we want to index our data with timestamp, we can create a `Series` object with time as an index. 

```
# This is formatted as code
index = pd.DatetimeIndex(['2014-07-04', '2014-08-04',
                          '2015-07-04', '2015-08-04'])
data = pd.Series([0, 1, 2, 3], index=index)
```
We can slice our data using time index 
```
# This is formatted as code
data['2015'] # This will return series objects that have time index containg '2015' as a year
```

# Pandas Timeseries Data structure

✅Invoke datat into datetime object
- `pd.to_datetime() `

✅ Convert `DatetimeIndex `to `PeriodtimeIndex`
- `dates.to_period('D')` #  Indicate the frequency to daily

# Regular sequences: `pd.date_range()`

✅ Create regular date sequences for timestamp
- `pd.date_range('start_date' , 'end_date')`
- `pd.date_range('start_date' , period = number )`
```
# This is formatted as code
pd.date_range('2015-07-03', '2015-07-10')
pd.date_range('2015-07-03', periods=8)
```
✅ Create regular date sequences for period and duration

- `pd.period_range('start_date', period = number, freq = '')`
- `pd.timedelta_range(start, period = number, freq='')`

```
# This is formatted as code
pd.period_range('2015-07', periods=8, freq='M')
pd.timedelta_range(0, periods=10, freq='H')
```

**Frequency and Offsets**

frequency can be specified by any desired frequency spacing
```
# This is formatted as code
pd.timedelta_range(0, periods=9, freq="2H30T")
```

# Resampling, Shifting, windowing

✅ Data aggregation method 

- `resample() ` 
✅ Data selction method 
- `asfreq()`
```
data.resample('BA').mean()
data.asfreq('BA')
# BA is frequency type - Business year end
```
✅ Time-shift
- `shift()`  : For shift the data
- `tshift() ` : For shift the index (time)

✅ Rolling windows
- `rolling()` : For statistically rolling of the data

# High Performance Pandas 

- `pd.eval()`  # High performance dataframe operation expression

▶ Arithmetics operators

▶Comparison operators

▶Bitwise operators

▶And , Or in Boolean expression

▶Accessing to object attributes and index

**DataFrame.eval() for column-wise**
```
# This is formatted as code
result1 = (df['A'] + df['B']) / (df['C'] - 1)
result2 = pd.eval("(df.A + df.B) / (df.C - 1)")
np.allclose(result1, result2)
```
**Assign a new column with values that computed from another columns**

```
# This is formatted as code
df.eval('D = (A + B) / C', inplace=True)
df.head()
```



- `pd.query()` 

▶ Similar to marking with function but able to work with evaulated string

```
# This is formatted as code
result2 = df.query('A < 0.5 and B < 0.5')
np.allclose(result1, result2)
```

In [ ]:
import pandas as pd
import numpy as np
nrows, ncols = 100000, 100
rng = np.random.RandomState(42)
df1, df2, df3, df4 = (pd.DataFrame(rng.rand(nrows, ncols)) for i in range(4))
%timeit df1 + df2 + df3 + df4
%timeit pd.eval('df1 + df2 + df3 + df4')

In [ ]:
import pandas as pd
import numpy as np
rng = np.random.RandomState(42)
df1, df2, df3, df4, df5 = (pd.DataFrame(rng.randint(0, 1000, (100, 3))) for i in range(5))
result1 = (df1 < df2) & (df2 <= df3) & (df3 != df4)
result2 = pd.eval('df1 < df2 <= df3 != df4')
print("Are they give same result?")
print(np.allclose(result1, result2))
%timeit result1
%timeit result2